.widget {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: space-between; 
    box-shadow: 2px 0px 55px -6px rgba(0,0,0,0.46);
    border-radius: 20px;
    height: 130px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-size: 18px;
            font-weight: 300;
            color: rgb(128, 128, 128);
        }

        .counter{
            font-size: 50px;
            font-weight: 200;
            color: rgb(5, 5, 5);
        }

        .link{
            font-size: 16px;
            font-weight: 400;
            color: rgb(133, 131, 131);
            width: max-content;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }

        .icon {
            display: flex;
            font-size: 23px;
            padding: 4px;
            background-color: rgba(247, 187, 147, 0.651);
            border-radius: 20%;
            align-self: flex-end;
        }
    }
}