.new {
    width: 100%;
    display: flex;

    .newContainer{
        flex: 6;

        .top, .bottom{
            margin: 20px;
            display: flex;

            .left{
                flex: 1;
                text-align: center;

                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .right{
                flex: 2;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    .formInput{
                        width: 40%;

                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }
                }
                .buttons{
                    display: flex;
                    // justify-content: space-between;
                }   

        .disableBtn{
            font-weight: bold;
            cursor: pointer;
            margin: 20px;
            width: 100px;
            padding: 10px;
            color: rgba(255, 242, 241, 0.932);
            border: none;
            background-color: rgb(187, 45, 35);
        }

        .uploadBtn{
            font-weight: bold;
            cursor: pointer;
            margin: 20px;
            width: 100px;
            padding: 10px;
            border: none;
            background-color: rgb(224, 166, 90);
        }
            }
        }

        
    }
}