.table{


    .bgTable{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;

            &.Approved{
                color: green;
                background-color: rgba(15, 97, 15, 0.212);
            }
    
            &.Pending{
                color: rgba(134, 95, 43, 0.616);
                background-color: rgba(245, 213, 154, 0.692)
            }

            &.Cancel{
                color: rgba(105, 14, 14, 0.616);
                background-color: rgba(235, 181, 181, 0.692)
            }


        .status{
            margin: 5px;
            border-radius: 10px;
        }
        
    }


}